@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes warp-liquid {
  0% {
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
  25% {
    background-position: 100% 50%;
    background-size: 350% 250%;
  }
  50% {
    background-position: 100% 100%;
    background-size: 100% 100%;
  }
  75% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
}

.animate-liquid {
  animation: warp-liquid 35s ease-in-out infinite alternate !important;
}